.btn
  text-transform uppercase

.pi-price
  color red
  font 18px 'PT Sans Narrow', sans-serif
  float left
  padding-top 1px

.product-item
  margin-right 10px
  padding 12px 12px 16px
  background #fff
  position relative

  .add2cart
    float right
    color #a8aeb3
    border 1px #ededed solid
    padding 3px 6px

    :hover
      color #fff !important
      background #E84D1C !important
      border-color #E84D1C

    h3
    font 300 14px 'Open Sans', sans-serif
    padding-top 10px
    padding-bottom 4
    text-transform uppercase

    a
      color #3e4d5c

    :hover
      box-shadow 5px 5px rgba(234, 234, 234, 0.9)

  .btn:hover
    background red
    border-color #c8c8c8

.pi-img-wrapper
  position relative

  div
    background rgba(0,0,0,0.3)
    position absolute
    left 0
    top 0
    display none
    width 100%
    height 100%
    text-align center

.btn-default
    padding 3px 10px
    color #fff
    border 1px #fff solid
    margin -13px 5px 0
    background transparent
    position relative
    top 50%
    font-size 12px


.product-item:hover
  .pi-img-wrapper
    div
      display block

.product-main-image
  margin-bottom 20px

  img
    width 100%

.product-page
  background #fff
  padding 22px
  position relative
  margin-right 10px

.product-pop-up
  padding 0
  overflow-x hidden
  background inherit

  .product-quantity, .product-quantity .input-group
    margin-right: 15px;

  .btn-primary
    margin-right 10px

  .product-page-cart
    .btn
      padding 7px 5px
    a.btn
      padding 9px 5px 5px
      display inline-block

.product-other-images
  text-align left

  img
    width 58px
    height auto
    margin 0 12px 12px 0

.product-other-images
  a:hover, a.active
      img
          box-shadow 0 0 0 2px #c7ced5

.ecommerce
  h2
    font-size 20px
    
.price-availability-block
  border-bottom 1px solid #f4f4f4
  padding-bottom 12px
  margin-bottom 17px

  .availability
    float right
    color #7b8a99
  
    strong
      font-weight normal
      color #3e4d5c
    
  .price
    float left
    font-family 'PT Sans Narrow' sans-serif
    
    strong
      color #e84d1c
      font-size 35px
      font-weight normal

      span
        font-size 25px
    
    em
      font-style normal
      color #bbb
      font-size 17px
      
      span
        font-size 23px
        text-decoration line-through

.control-label
  margin-top 1px

.product-page-options
  border-top 1px solid #f4f4f4
  border-bottom 1px solid #f4f4f4
  padding 20px 0
  margin-bottom 20px
  width 100%
  overflow hidden

  select
    .input-sm
      float left
      width auto
      height 26px

  label
    font-weight normal
    text-transform uppercase
    color #8e9ca8
    font-family "PT Sans Narrow", sans-serif
    float left
    margin-right 10px
    padding-top 2px
  
  .pull-left
    margin-right 40px

.product-page-cart
  border-bottom 1px solid #f4f4f4
  padding-bottom 20px
  margin-bottom 18px

  .btn
    padding 7px 20px
    font-size 13px
    height 38px

.product-quantity
  width 70px
  float left
  margin-right 20px
  position relative
a.btn.btn-default
  color #333333
  background-color white
  border-color #cccccc

a.btn.btn-default:hover
  background #7C7C7C

  .input-group

  .input-group-btn
    position static
    
  input.form-control
      border none
      background #edeff1 !important
      font 300 23px 'Open Sans', sans-serif
      color #647484
      height 38px
      width 50px
      text-align center
      padding 5px

  .btn
    i 
      position relative
      top -2px
      left 1px
